body {
    background-color: rgb(239,190,36) !important;
}

.container {
    background-image: url(img/yellow-background-1.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 8px 12px #888888cc;
}

.height-header {
    height: 80px;
    font-weight: 700;
    color: #575757;
    box-shadow: 0px 0px 12px #888888cc;
    display: flex;
    text-align: center;    
    align-items: center;
}

.question-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.4);
    padding-top: 12px;
}

.quiz-card {
    width: 30rem;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0) !important; 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0) !important;
    padding: 20px;
}

.quiz-answer-card:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0.05);
}

.bg-success, .bg-danger {
    color: white;
}

.width-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.final-headline {
    font-size: 38px;
    margin-bottom: 32px;
}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}

.answer-overlay {
    position: absolute;
    top: 0;
    bottom: 90px;
    right: 0;
    left: 0;
    z-index: 99;
}

.d-none {
    display: none;
    z-index: 0;
}