@use "../abstracts" as *;

%header-menu-game {
    max-width: 67.6rem;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    background-color: $color-bright-blue;
    padding: 1rem 0;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    @media (max-width: $breakpoint-xs) {
        border-bottom-left-radius: 2rem !important;
        border-bottom-right-radius: 2rem !important;
    }

    &--menu {
        @extend %header-menu-game;

        @media (max-width: $breakpoint-lg) {
            max-width: none;
            width: 90%;
        }
    }

    &--game {
        @extend %header-menu-game;

        @media (max-width: $breakpoint-lg) {
            max-width: none;
            width: 90%;
        }
    }
}

.header__menu-icon {
    cursor: pointer;
}

.header__menu-img {
    width: 3rem;
    height: auto;

    @media (max-width: $breakpoint-sm) {
        width: 1.8rem;
    }
}

%header__main-menu-game {
    color: $color-white;
    font-family: 'Mogra', sans-serif;
    text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);
}

.header__main {
    font-size: 3rem;
    @extend %header__main-menu-game;

    @media (max-width: $breakpoint-sm) {
        font-size: 1.4rem;
    }
}

.header__game-main {
    font-size: 2rem;
    @extend %header__main-menu-game;

    @media (max-width: $breakpoint-sm) {
        font-size: 1.4rem;
    }
}

.header__user {
    cursor: pointer;
}

.header__user-img {
    width: 3rem;
    height: auto;
    filter: drop-shadow(0 0 0.25rem rgba(0, 0, 0, 0.5));

    @media (max-width: $breakpoint-sm) {
        width: 1.8rem;
    }
}

.header__game-button-close {
    cursor: pointer;
}

.header__game-cross-img {
    width: 2rem;
}