@use "../abstracts" as *;

.quiz__count {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-orange;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.250rem rgba(0, 0, 0, 0.5);
    margin: 0 0 1.4rem 0;
    padding: 0.25rem 0;
    text-shadow: 0 0 0.125rem rgba(0, 0, 0, 0.5);

    &::before {
        content: "";
        width: 1px;
        height: 2.5rem;
        background-color: $color-white;
        position: absolute;
        left: 50%;
    }
}


.quiz__count-counter,
.quiz__count-ranking {
    width: 100%;
    text-align: center;
}

.quiz__count-counter-main,
.quiz__count-ranking-main {
    font-size: 1rem;
    font-weight: 100;
    color: $color-white;
    font-family: 'Roboto', sans-serif;

    @media (max-width: $breakpoint-sm) {
        font-size: 0.8rem;
    }

    @media (max-width: $breakpoint-xxs) {
        font-size: 0.6rem;
    }
}

.quiz__count-counter-number,
.quiz__count-ranking-number {
    font-size: 2rem;
    font-weight: 600;
    color: $color-white;
    font-family: 'Roboto', sans-serif;

    @media (max-width: $breakpoint-sm) {
        font-size: 1.4rem;
    }

    @media (max-width: $breakpoint-xxs) {
        font-size: 1rem;
    }
}