@use "../abstracts" as *;

.quiz__player {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quiz__player-selection {
    display: flex;
    justify-content: center;

    &--profile {
        height: 4rem;
        width: auto;
    }
}