$color-white: rgb(237, 250, 255);
$color-bright-blue: rgb(44, 64, 88);
$color-dark-blue: rgb(36, 42, 64);

/** 1200px oder schmaler */
$breakpoint-lg: 75em!default;

/** 992px oder schmaler */
$breakpoint-md: 62em!default;

/** 768px oder schmaler */
$breakpoint-sm: 48em!default;

/** 576px oder schmaler */
$breakpoint-xs: 36em!default;

/** 400px oder schmaler */
$breakpoint-xxs: 25em!default;

/** Breakpoints */
@media (max-width: $breakpoint-lg) {}
@media (max-width: $breakpoint-md) {}
@media (max-width: $breakpoint-sm) {}
@media (max-width: $breakpoint-xs) {}
@media (max-width: $breakpoint-xxs) {}