@use "../abstracts" as *;

body {
    background-image: linear-gradient(160deg, $color-dark-blue,$color-dark-blue);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-none {
    display: none;
}